<div ng-controller = "FeedbackController as controller" class="skills-info">
<div ng-repeat="feedback in controller.feedbacks" class="feedback">
	<div class="feedback-img-containner">
		<a href="{{feedback.url}}" target="_blank"> <img ng-src="/img/people/{{feedback.picture}}.jpg"/> </a>
	</div>
	<b>{{feedback.author}}</b> <spam class="small">({{feedback.description}})</spam>
	<div class="feedback-content" ng-repeat="content in feedback.content"> 
		<p class="content">{{content}}</p><br>
	</div>
</div>