<a href="/"><h1>Feedbacks</h1></a>
<div ng-controller="FeedbackController as controller" class="skills-info">

    <div ng-repeat="feedback in controller.feedbacks">
        <div class="panel panel-default">
            <div class="panel-body">
                    <a href="{{feedback.url}}" target="_blank">
                        <img class="feedback-img" ng-src="/img/people/{{feedback.picture}}.jpg"/>
                    </a>
                <h1>{{feedback.author}}</h1> ({{feedback.description}})
                <div class="feedback-content" ng-repeat="content in feedback.content">
                    <H3 class="content">"{{content}}"</H3><br>
                </div>
            </div>
        </div>
    </div>
</div>