.content {
	width: 100%;
	padding:0;
	margin:auto;
	background-color: #005B91;
}

.top-header {
	width: 100%;
	height: 30px;
	text-align: right;
	background-color: #005B91;
	color:white;
	font-size: 1.5em;
	padding-top: 5px;
}

.achievements-list {
	display: flex;
	flex-flow: wrap;
	width:100%;
}

.achievements-list li {
	list-style: none;
	max-width:25%;
	background-color: #0078bf;
}

.achievement-box {
	padding: 2px;
	border: solid #005B91 4px;
}

.achievements-list li spam.title {
	font-size: 0.9em;
	height: 20px;
	padding:2px;
	text-align: right;
	background-color: #004771;
	color:white;
	display:block;
		font-variant: all-small-caps;
}

.achievements-list li spam.description {
	font-size: 0.7em;
	height: 30px;
	text-overflow: clip: 
	padding:4px;
	text-align: center;
	font-variant: all-small-caps;

	background-color: #0078bf;
	color:white;
	display:block;
}

.achievements-list li img{
	width:100%;
	max-height: 300px;
	display:block;
}