/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font-family: 'Rokkitt', serif;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.header {
    margin: 10px;
}

.header h1 {
    margin:8px;
    font-size: 3em;
}

.level {
    /*font-size:0.7em;*/
    padding-left: 10px;
    padding-right: 10px;
    color: orange;
    background-color: black;
}

.photo-box{
    width: 200px;
    float: left;
}

.photo-box img {
    border-color: orange;
    border-style: solid;
    border-width: 6px;
    float: left;
    width: 190px;
    height: 190px;
    margin: 6px;
}

.stats {
    margin-left: 10px;
    float: left;
}

.footer {
    float: right;
    position:fixed;
    bottom:10px;
    right:0px;
}

.footer img {
    width: 300px;    
}

.circular {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(../img/profile-picture.jpg) no-repeat;
    float: left;    
}

.info {
    font-size: 2em;
    display: block;
    float: left;
    width: 80%;
    margin-left: 30;
    margin-top: 0;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

.menu {
    text-align: center;
    font-size: 2em;
    margin: 10px;
    width: 60%;
    z-index: 900;
    width: 200px;
    float: left;
    display: block;    
}

.menu ul {
    list-style-type: none;
}

.menu ul li a{
    font-family: 'Rokkitt', serif;
    display: block;
    width: 200px;
    margin: 0px;
    font-size: 1em;
    border-style:solid;
    border-width: 2px;
    border-color: white;
    text-decoration: none;
    color:black;
}


.menu ul li a:hover{
    font-family: 'Rokkitt', serif;
    display: block;
    color: black;
    background-color: orange;
    width: 200px;
    margin: 0px;
    font-size: 1em;
    border-style:solid;    
    border-width: 2px;
}

progress[value] {
    /* Get rid of the default appearance */
    appearance: none;
    
    /* This unfortunately leaves a trail of border behind in Firefox and Opera. We can remove that by setting the border to none. */
    border: none;
    
    /* Add dimensions */
    width: 100%; height: 20px;
    
    /* Although firefox doesn't provide any additional pseudo class to style the progress element container, any style applied here works on the container. */
      background-color: whiteSmoke;
      border-radius: 3px;
      box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
    
    /* Of all IE, only IE10 supports progress element that too partially. It only allows to change the background-color of the progress value using the 'color' attribute. */
    color: royalblue;
    
    position: relative;
    margin: 0 0 1.5em; 
}

progress[value]::-webkit-progress-bar {
  background-color: white;
  border-radius: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
}

progress[value]::-webkit-progress-value {
  background-color: orange;       
       

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.animated-transition {
  position:relative;
}

.animated-transition.ng-enter, .animated-transition.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
  top:0;
}

.animated-transition.ng-enter {
  top:0;
  z-index:100;
  opacity:0;
}
.animated-transition.ng-enter.ng-enter-active {
  opacity:1;
}

.animated-transition.ng-leave {
  opacity:1;
}

.animated-transition.ng-leave.ng-leave-active {
  opacity:0;
  height: 0;
}

.feedback {
    font-size: 0.7em;
    margin-bottom: 20px;
    height: 150px;
    vertical-align: middle;
    float: left;
}

.feedback-content {
    text-align: center;
    height: 150px;
    margin-bottom: 40px;
}

.feedback-content {
    float: none;
}

.feedback-img-containner {
    display: block;
    float: left;
}

.feedback img {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(http://link-to-your/image.jpg) no-repeat;    
}
.small {
    font-size: 0.6em;
}
