<div ng-controller = "SkillController as controller" class="skills-info">
	<div class="legend">		
		<div class="coding"> Development</div>
		<div class="testing"> Testing</div>
		<div class="soft"> Soft/People Skills</div>
		<div class="ux"> Ux</div>
		<div class="language"> Languages</div>
	</div>
	<ul>
		<li ng-repeat="skill in controller.skills" class="{{skill.category}}">
			{{skill.technology}}
			<progress max="100" value="{{skill.before}}" class="before">
			</progress>
			<br>			
			<progress max="100" value="{{skill.after}}" class="after">
			</progress>
		</li>
	</ul>
</div>