<a href="#/home"><h1>Skills</h1></a>
<div ng-controller="SkillController as controller" class="skills-info">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="legends row">
                <div ng-class="{{category.description}}" ng-repeat="category in controller.categories">
                    <div class="legend-box" style="background-color:{{category.color}}"> </div>{{category.description}}
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div ng-repeat="skill in controller.skills" class="col-lg-4 chart">
                <spam style="color:{{skill.color}}">{{skill.technology}}</spam>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{skill.before}}"
                         aria-valuemax="100" ng-style="{ 'width' : skill.before+'%'}">
                        <span class="sr-only">60% Complete</span>
                    </div>
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{skill.after}}"
                         aria-valuemax="100" ng-style="{ 'width' : skill.after-skill.before+'%'}">
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>